.home {
  background-color: gray;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("https://media.discordapp.net/attachments/708463685093294150/833774952662171649/5.png?width=1440&height=538");
  background-size: cover;
  margin: 0;
}

.motto {
  color: rgb(250, 250, 250);
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
  padding: 25px;
}
.description {
  display: grid;
  color: white;
  font-family: "Josefin Sans", sans-serif;
}
.description h1 {
  text-align: center;
  font-size: 2rem;
}
.description p {
  text-align: center;
}
.description img {
  display: flex;
  width: 500px;
  height: auto;
  justify-self: center;
  border-radius: 8px;
}
.footer {
  display: grid;
  color: white;
  justify-content: center;
  background-color: #444444;
  margin-top: 25px;
  text-align: center;
}
.footer h1 {
  font-size: 1rem;
}
@media only screen and (min-width: 768px) {
  .home-img {
    width: 350px;
    border-radius: 8px;
  }
  .home-img2 {
    width: 200px;
    border-radius: 8px;
  }
  .parag {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-around;
    color: rgb(255, 255, 255);
    margin: 25px;
    font-size: 1rem;
    gap: 15px;
    align-items: center;
  }
}

@media only screen and (min-width: 480px) and (max-width: 768px) {
  .home-img {
    width: 300px;
    border-radius: 8px;
  }
  .home-img2 {
    width: 150px;
    border-radius: 8px;
  }
  .parag {
    display: grid;
    grid-template-columns: auto;
    justify-content: space-around;
    color: rgb(255, 255, 255);
    margin: 25px;
    font-size: 0.8rem;
    align-items: center;
  }
}
@media only screen and (max-width: 479px) {
  .home-img {
    width: 250px;
    border-radius: 8px;
  }
  .home-img2 {
    width: 100px;
    border-radius: 8px;
  }
  .parag {
    display: grid;
    grid-template-columns: auto;
    justify-content: space-around;
    color: rgb(255, 255, 255);
    margin: 25px;
    font-size: 0.6rem;
  }
}
